<%= form_with url: sessions_path, local: true do |f| %>
  <div class="form-floating mb-3">
    <%= f.text_field :email, class: "form-control", id: "floatingInput2", placeholder: 'User@example.com' %>
    <%= f.label :email, for: "floatingInput2" %>
  </div>
  <div class="form-floating mb-3">
    <%= f.password_field :password, class: "form-control", id: "floatingInput2", placeholder: 'Super Secret Password' %>
    <%= f.label :password, for: "floatingInput2" %>
  </div>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
