<h1>New Chat Room</h1>
<%= button_to 'Back', chat_rooms_path, method: :get, class: 'btn btn-primary' %>

<%= form_with model: @chat_room, local: true do |f| %>
<%= f.label :name %>
<%= f.text_field :title, autofocus: true, class: 'form-control' %>
<%= f.submit 'Create', class: 'btn btn-primary' %>
<% end %>
