<h1><%= @movie.title %></h1>
<br>

<%= button_to "Create Viewing Party for #{@movie.title}", new_party_path, method: :get, params: { movie_info: { id: @movie.id, title: @movie.title, runtime: @movie.runtime } }, class: 'btn btn-primary' %>
<br>

<div id="stats">
  <p>Run Time: <%= @movie.formatted_runtime %> | Vote Average: <%= @movie.vote_average %></p>
  <p>Genres:
    <ul>
      <% @movie.genres.each do |genre| %>
        <li><%= genre %></li>
      <% end %>
    </ul>
  </p>
</div>
<div id="summary">
  <p>Summary: <%= @movie.overview %></p>
</div>
<div id="cast">
  <p>Cast:</p>
  <ul>
    <% @movie.cast.each do |person| %>
      <li><%= person.name %> as <%= person.character %></li>
    <% end %>
  </ul>
</div>

<button id='showReviews' class='btn btn-primary'>Reviews</button>
<div id="reviews" hidden>
  <p>Reviews</p>
  <ul>
    <% @movie.reviews.each do |review| %>
      <li><b>Author: <%= review.author %></b></li>
      <%= review.content %>
    <% end %>
  </ul>
</div>
<button id='showRecommendations' class='btn btn-primary'>Show Recommendations</button>
<div id="recommendations" hidden>
  <p>Recommended Movies</p>
  <ul>
    <% @movie.recommendations.each do |rec| %>
      <li><%= link_to rec.title, details_path(params: { movie_id: rec.id }) %></li>
    <% end %>
  </ul>
</div>
<script>
  document.getElementById('showRecommendations').addEventListener('click', function() {
    document.getElementById('showRecommendations').hidden = true;
    document.getElementById('recommendations').hidden = false;
  }, false);
</script>
<script>
  document.getElementById('showReviews').addEventListener('click', function() {
    document.getElementById('showReviews').hidden = true;
    document.getElementById('reviews').hidden = false;
  }, false);
</script>
