<h1><%= @movie.title %></h1>
<br>

<%= button_to "Create Viewing Party for #{@movie.title}", new_party_path, method: :get, params: { movie_info: { id: @movie.id, title: @movie.title, runtime: @movie.runtime } }, class: 'btn btn-primary' %>
<br>

<div id="stats">
  <p>Run Time: <%= @movie.formatted_runtime %> | Vote Average: <%= @movie.vote_average %></p>
  <div id='poster'>
    <%= image_tag @movie.poster %>
  </div>
  <p>Genres:
    <ul>
      <% @movie.genres.each do |genre| %>
        <li><%= genre %></li>
      <% end %>
    </ul>
  </p>
</div>
<div id="summary">
  <p>Summary: <%= @movie.overview %></p>
</div>
<div id="cast">
  <h3>Cast</h3>
  <table class="table table-sm table-bordered border-dark">
    <thead>
      <tr>
        <th scope="col">Actor</th>
        <th scope="col">Character</th>
      </tr>
    </thead>
    <tbody>
      <% @movie.cast.each do |cast| %>
      <tr>
        <td><%= cast.name %></td>
        <td><%= cast.character %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<button id='showReviews' class='btn btn-primary'>Reviews</button>
<br>
<div id="reviews" hidden>
<br>
  <ul>
    <% @movie.reviews.each do |review| %>
      <li><b>Author: <%= review.author %></b></li>
      <%= review.content %>
    <% end %>
  </ul>
</div>
<button id='showRecommendations' class='btn btn-primary'>Recommended Movies</button>
<br>
<div id="recommendations" hidden>
  <br>
  <ul>
    <% @movie.recommendations.each do |rec| %>
      <li><%= link_to rec.title, details_path(params: { movie_id: rec.id }) %></li>
    <% end %>
  </ul>
</div>

<script>
  document.getElementById('showRecommendations').addEventListener('click', function() {
    let recButton = document.getElementById('showRecommendations');
    let recommendations = document.getElementById('recommendations');
    if (recButton.innerHTML == 'Recommended Movies') {
      recButton.innerHTML = 'Hide Recommended Movies';
    } else {
      recButton.innerHTML = 'Recommended Movies';
    }
    recommendations.hidden = !recommendations.hidden;
  }, false);

  document.getElementById('showReviews').addEventListener('click', function() {
    let revButton = document.getElementById('showReviews');
    let reviews = document.getElementById('reviews');
    if (revButton.innerHTML == 'Reviews') {
      revButton.innerHTML = 'Hide Reviews';
    } else {
      revButton.innerHTML = 'Reviews';
    }
    reviews.hidden = !reviews.hidden;
  }, false);
</script>
